<mat-card>

    <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Sign Up</button>
        </mat-card-actions>
        <div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email" id="email" placeholder="Email" required autofocus>
                <mat-error>{{ error?.modelState?.email | modelError }}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" id="password" placeholder="Password" required>
                <mat-error>{{ error?.modelState?.password | modelError }}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Confirm password</mat-label>
                <input type="password" matInput formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm password" required>
                <mat-error>{{ error?.modelState?.confirmPassword | modelError }}</mat-error>
            </mat-form-field>
        </div>
    </form>

</mat-card>
