<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <targets>
    <target name="allfile" fileName="c:\temp\Cynosura.Studio-test\web-all.log" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <target name="ownfile" fileName="c:\temp\Cynosura.Studio-test\web-own.log" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </targets>
</nlog>
