<h2>Enum Values</h2>

<button type="button" class="btn btn-default" (click)="add()">Create</button>

<error-handler [error]="error"></error-handler>

<table *ngIf="enumValues" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Display Name</th>
            <th>Value</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let enumValue of enumValues">
            <td>
                <text-view [value]="enumValue.name"></text-view>
            </td>
            <td>
                <text-view [value]="enumValue.displayName"></text-view>
            </td>
            <td>
                <number-view [value]="enumValue.value"></number-view>
            </td>
            <td>
                <button class="btn btn-default" (click)="edit(enumValue.id)">Edit</button>
                <button class="btn btn-default" (click)="delete(enumValue.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<enumValue-edit *ngIf="enumValue" [enumValue]="enumValue" [solutionId]="solutionId" (enumValueSave)="enumValueSave($event)"></enumValue-edit>
