<mat-card class="mat-card-view" *transloco="let t">

    <mat-card-header>
        <mat-card-title>{{ t('Entity') }} <app-entity-show [value]="entity"></app-entity-show></mat-card-title>
    </mat-card-header>

    <mat-card-actions>
        <button mat-raised-button color="primary" type="button" (click)="onEdit()">{{ t('shared.edit') }}</button>
        <button mat-raised-button type="button" (click)="onGenerate()">Generate</button>
        <button mat-raised-button type="button" (click)="onBack()">{{ t('shared.back') }}</button>
    </mat-card-actions>

    <div *ngIf="entity">
        <div class="field-view">
            <label>{{ t('Name') }}</label>
            <div>
                <app-text-view [value]="entity.name"></app-text-view>
            </div>
        </div>
        <div class="field-view">
            <label>{{ t('Plural Name') }}</label>
            <div>
                <app-text-view [value]="entity.pluralName"></app-text-view>
            </div>
        </div>
        <div class="field-view">
            <label>{{ t('Display Name') }}</label>
            <div>
                <app-text-view [value]="entity.displayName"></app-text-view>
            </div>
        </div>
        <div class="field-view">
            <label>{{ t('Plural Display Name') }}</label>
            <div>
                <app-text-view [value]="entity.pluralDisplayName"></app-text-view>
            </div>
        </div>
        <div class="field-view">
            <label>{{ t('Abstract') }}</label>
            <div>
                <app-bool-view [value]="entity.isAbstract"></app-bool-view>
            </div>
        </div>
        <div class="field-view">
            <label>{{ t('Base Entity') }}</label>
            <div>
                <app-entity-show [value]="entity.baseEntity"></app-entity-show>
            </div>
        </div>
    </div>

</mat-card>
