<mat-card *ngIf="entity">

    <mat-card-header>
        <mat-card-title>Entity <app-entity-show [value]="entity"></app-entity-show></mat-card-title>
    </mat-card-header>

    <form [formGroup]="entityForm" (ngSubmit)="onSubmit()">
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Save</button>
            <button mat-raised-button type="button" (click)="cancel()">Back</button>
            <button mat-raised-button type="button" (click)="generate()" *ngIf="id">Generate</button>
        </mat-card-actions>
        <div>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <app-text-edit formControlName="name" name="name" placeholder="Name"></app-text-edit>
                <mat-error>{{ error?.modelState?.name | modelError }}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Plural Name</mat-label>
                <app-text-edit formControlName="pluralName" name="pluralName" placeholder="Plural Name"></app-text-edit>
                <mat-error>{{ error?.modelState?.pluralName | modelError }}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Display Name</mat-label>
                <app-text-edit formControlName="displayName" name="displayName" placeholder="Display Name"></app-text-edit>
                <mat-error>{{ error?.modelState?.displayName | modelError }}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Plural Display Name</mat-label>
                <app-text-edit formControlName="pluralDisplayName" name="pluralDisplayName" placeholder="Plural Display Name"></app-text-edit>
                <mat-error>{{ error?.modelState?.pluralDisplayName | modelError }}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <app-bool-edit formControlName="isAbstract" name="isAbstract" label="Abstract"></app-bool-edit>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Base Entity</mat-label>
                <app-entity-select formControlName="baseEntityId" [solutionId]="solutionId" name="baseEntityId" placeholder="Base Entity"></app-entity-select>
                <mat-error>{{ error?.modelState?.baseEntityId | modelError }}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <label for="properties">Properties</label>
            <div *ngIf="entity">
                <app-properties [target]="entity.name" [properties]="entity.properties"></app-properties>
            </div>
        </div>
    </form>

</mat-card>

<div *ngIf="entity">
    <app-field-list [fields]="entity.fields" [solutionId]="solutionId"></app-field-list>
</div>
