<h1 mat-dialog-title>Entity <app-entity-show [value]="entity"></app-entity-show></h1>
<mat-dialog-content *ngIf="entity" class="mat-dialog-content-edit">

    <form [formGroup]="entityForm">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <app-text-edit formControlName="name" name="name" placeholder="Name"></app-text-edit>
            <mat-error>{{ error?.modelState?.name | modelError }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Plural Name</mat-label>
            <app-text-edit formControlName="pluralName" name="pluralName" placeholder="Plural Name"></app-text-edit>
            <mat-error>{{ error?.modelState?.pluralName | modelError }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Display Name</mat-label>
            <app-text-edit formControlName="displayName" name="displayName" placeholder="Display Name"></app-text-edit>
            <mat-error>{{ error?.modelState?.displayName | modelError }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Plural Display Name</mat-label>
            <app-text-edit formControlName="pluralDisplayName" name="pluralDisplayName" placeholder="Plural Display Name"></app-text-edit>
            <mat-error>{{ error?.modelState?.pluralDisplayName | modelError }}</mat-error>
        </mat-form-field>
        <app-bool-edit formControlName="isAbstract" name="isAbstract" label="Abstract"></app-bool-edit>
        <mat-form-field>
            <mat-label>Base Entity</mat-label>
            <app-entity-select formControlName="baseEntityId" [solutionId]="solutionId" name="baseEntityId" placeholder="Base Entity"></app-entity-select>
            <mat-error>{{ error?.modelState?.baseEntityId | modelError }}</mat-error>
        </mat-form-field>
        <div>
            <label for="properties">Properties</label>
            <div *ngIf="entity">
                <app-properties [target]="entity.name" [properties]="entity.properties"></app-properties>
            </div>
        </div>
    </form>

    <div *ngIf="entity">
        <app-field-list [fields]="entity.fields" [solutionId]="solutionId"></app-field-list>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="mat-dialog-actions-edit">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
