<mat-card *ngIf="entity" class="mat-card-view">

    <mat-card-header>
        <mat-card-title>Entity <app-entity-show [value]="entity"></app-entity-show></mat-card-title>
    </mat-card-header>

    <mat-card-actions>
        <button mat-raised-button color="primary" type="button" (click)="onEdit()">Edit</button>
        <button mat-raised-button type="button" (click)="onGenerate()">Generate</button>
        <button mat-raised-button type="button" (click)="onBack()">Back</button>
    </mat-card-actions>

    <div class="field-view">
        <label>Name</label>
        <div>
            <app-text-view [value]="entity.name"></app-text-view>
        </div>
    </div>
    <div class="field-view">
        <label>Plural Name</label>
        <div>
            <app-text-view [value]="entity.pluralName"></app-text-view>
        </div>
    </div>
    <div class="field-view">
        <label>Display Name</label>
        <div>
            <app-text-view [value]="entity.displayName"></app-text-view>
        </div>
    </div>
    <div class="field-view">
        <label>Plural Display Name</label>
        <div>
            <app-text-view [value]="entity.pluralDisplayName"></app-text-view>
        </div>
    </div>
    <div class="field-view">
        <label>Abstract</label>
        <div>
            <app-bool-view [value]="entity.isAbstract"></app-bool-view>
        </div>
    </div>
    <div class="field-view">
        <label>Base Entity</label>
        <div>
            <app-entity-show [value]="entity.baseEntity"></app-entity-show>
        </div>
    </div>

</mat-card>