<mat-card *ngIf="profile">

    <mat-card-header>
        <mat-card-title>Profile</mat-card-title>
    </mat-card-header>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </mat-card-actions>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <app-text-edit formControlName="email" name="email" placeholder="Email" type="email"></app-text-edit>
            <mat-error>{{ error?.modelState?.email | modelError }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Current password</mat-label>
            <input matInput type="password" id="currentPassword" name="currentPassword"
                formControlName="currentPassword" placeholder="Current password" autocomplete="new-password">  
            <mat-error>{{ error?.modelState?.currentPassword | modelError }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>New password</mat-label>
            <input matInput type="password" id="newPassword" name="newPassword"
                formControlName="newPassword" placeholder="New password" autocomplete="new-password">  
            <mat-error>{{ error?.modelState?.newPassword | modelError }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" id="confirmPassword" name="confirmPassword"
                formControlName="confirmPassword" placeholder="Confirm password" />            
            <mat-error>{{ error?.modelState?.confirmPassword | modelError }}</mat-error>
        </mat-form-field>
    </form>

</mat-card>
