<h1 mat-dialog-title>Enum <app-enum-show [value]="enum"></app-enum-show></h1>
<mat-dialog-content *ngIf="enum" class="mat-dialog-content-edit">

    <form [formGroup]="enumForm">



        <mat-form-field>
            <app-text-edit formControlName="name" name="name" placeholder="Name"></app-text-edit>
            <mat-error>{{ error?.modelState?.name | modelError }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Display Name</mat-label>
            <app-text-edit formControlName="displayName" name="displayName" placeholder="Display Name"></app-text-edit>
            <mat-error>{{ error?.modelState?.displayName | modelError }}</mat-error>
        </mat-form-field>
        <div>
            <label for="properties">Properties</label>
            <div *ngIf="enum">
                <app-properties [target]="enum.name" [properties]="enum.properties"></app-properties>
            </div>
        </div>
    </form>

    <div *ngIf="enum">
        <app-enum-value-list [enumValues]="enum.values" [solutionId]="solutionId"></app-enum-value-list>
    </div>

</mat-dialog-content>
<mat-dialog-actions class="mat-dialog-actions-edit">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()" cdkFocusInitial>Save</button>
</mat-dialog-actions>