<mat-card *ngIf="enum">

    <mat-card-header>
        <mat-card-title>Enum <app-enum-show [value]="enum"></app-enum-show></mat-card-title>
    </mat-card-header>

    <form [formGroup]="enumForm" (ngSubmit)="onSubmit()">
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Save</button>
            <button mat-raised-button type="button" (click)="cancel()">Back</button>
            <button mat-raised-button type="button" (click)="generate()" *ngIf="id">Generate</button>
        </mat-card-actions>
        <div>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <app-text-edit formControlName="name" name="name" placeholder="Name"></app-text-edit>
                <mat-error>{{ error?.modelState?.name | modelError }}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Display Name</mat-label>
                <app-text-edit formControlName="displayName" name="displayName" placeholder="Display Name"></app-text-edit>
                <mat-error>{{ error?.modelState?.displayName | modelError }}</mat-error>
            </mat-form-field>
        </div>

        <div>
            <label for="properties">Properties</label>
            <div *ngIf="enum">
                <app-properties [target]="enum.name" [properties]="enum.properties"></app-properties>
            </div>
        </div>
    </form>

</mat-card>

<div *ngIf="enum">
    <app-enum-value-list [enumValues]="enum.values" [solutionId]="solutionId"></app-enum-value-list>
</div>
