<ng-container *transloco="let t">

    <h4>{{ t('Enum Values') }}</h4>

    <div>
        <button mat-raised-button type="button" (click)="onCreate()">{{ t('shared.create') }}</button>
    </div>

    <mat-card-content class="mat-elevation-z8">

        <table *ngIf="enumValues" mat-table [dataSource]="dataSource" multiTemplateDataRows>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>{{ t('Name') }}</th>
                <td mat-cell *matCellDef="let item">
                    <app-text-view [value]="item.name"></app-text-view>
                </td>
            </ng-container>
            <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef>{{ t('Display Name') }}</th>
                <td mat-cell *matCellDef="let item">
                    <app-text-view [value]="item.displayName"></app-text-view>
                </td>
            </ng-container>
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>{{ t('Value') }}</th>
                <td mat-cell *matCellDef="let item">
                    <app-number-view [value]="item.value"></app-number-view>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let item">
                    <button mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="actionMenu"><mat-icon>more_vert</mat-icon></button>
                    <mat-menu #actionMenu="matMenu">
                        <a mat-menu-item (click)="onDelete(item.id)">{{ t('shared.delete') }}</a>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let item; columns: columns;" (click)="onEdit(item.id)"></tr>

        </table>

    </mat-card-content>

</ng-container>
