<mat-card class="mat-card-view" *transloco="let t">

    <mat-card-header>
        <mat-card-title>{{ t('Enum Value') }} <app-enum-value-show [value]="enumValue"></app-enum-value-show></mat-card-title>
    </mat-card-header>

    <mat-card-actions>
        <button mat-raised-button color="primary" type="button" (click)="onEdit()">{{ t('shared.edit') }}</button>
        <button mat-raised-button type="button" (click)="onBack()">{{ t('shared.back') }}</button>
    </mat-card-actions>

    <div *ngIf="enumValue">
        <div class="field-view">
            <label>{{ t('Name') }}</label>
            <div>
                <app-text-view [value]="enumValue.name"></app-text-view>
            </div>
        </div>
        <div class="field-view">
            <label>{{ t('Display Name') }}</label>
            <div>
                <app-text-view [value]="enumValue.displayName"></app-text-view>
            </div>
        </div>
        <div class="field-view">
            <label>{{ t('Value') }}</label>
            <div>
                <app-number-view [value]="enumValue.value"></app-number-view>
            </div>
        </div>
        <div class="field-view">
            <label>{{ t('Enum') }}</label>
            <div>
                <app-enum-show [value]="enumValue.enum"></app-enum-show>
            </div>
        </div>
    </div>

</mat-card>
