<mat-card>

    <mat-card-header>
        <mat-card-title>Role <app-role-show [value]="role"></app-role-show></mat-card-title>
    </mat-card-header>

    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Save</button>
            <button mat-raised-button type="button" (click)="cancel()">Back</button>
        </mat-card-actions>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <app-text-edit formControlName="name" name="name" placeholder="Name"></app-text-edit>
            <mat-error>{{ error?.modelState?.name | modelError }}</mat-error>
        </mat-form-field>
        
    </form>

</mat-card>