<h2>Field</h2>
<form class="form-horizontal" *ngIf="innerField" (ngSubmit)="onSubmit()">
    <button type="submit" class="btn btn-primary">Save</button>
    <div class="form-group">
        <error-handler [error]="error"></error-handler>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="innerField.name" placeholder="Name">
            <model-validator [model]="error?.modelState?.name"></model-validator>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Display Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="displayName" name="displayName" [(ngModel)]="innerField.displayName" placeholder="Display Name">
            <model-validator [model]="error?.modelState?.displayName"></model-validator>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <select class="form-control" id="type" name="type" [(ngModel)]="innerField.type">
                <option [ngValue]="null">Select Type</option>
                <option *ngFor="let item of FieldType | enumkeys" [ngValue]="item.key">{{item.value}}</option>
            </select>
            <model-validator [model]="error?.modelState?.type"></model-validator>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Size</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="size" name="size" [(ngModel)]="innerField.size" placeholder="Size">
            <model-validator [model]="error?.modelState?.size"></model-validator>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Entity</label>
        <div class="col-sm-10">
            <entity-select [(selectedEntityId)]="innerField.entityId" [solutionId]="solutionId"></entity-select>
            <model-validator [model]="error?.modelState?.entityId"></model-validator>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Required</label>
        <div class="col-sm-10">
            <input type="checkbox" id="isRequired" name="isRequired" [(ngModel)]="innerField.isRequired" placeholder="Required">
            <model-validator [model]="error?.modelState?.isRequired"></model-validator>
        </div>
    </div>
</form>
