<h2>Fields</h2>

<button type="button" class="btn btn-default" (click)="add()">Create</button>

<error-handler [error]="error"></error-handler>

<table *ngIf="fields" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Display Name</th>
            <th>Type</th>
            <th>Entity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let field of fields">
            <td>
                <text-view [value]="field.name"></text-view>
            </td>
            <td>
                <text-view [value]="field.displayName"></text-view>
            </td>
            <td>
                {{FieldType[field.type]}}
            </td>
            <td>
                {{field.entity?.name}}
            </td>
            <td>
                <button class="btn btn-default" (click)="edit(field.id)">Edit</button>
                <button class="btn btn-default" (click)="delete(field.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<field-edit *ngIf="field" [field]="field" [solutionId]="solutionId" (fieldSave)="fieldSave($event)"></field-edit>
