<h1 mat-dialog-title>User <app-user-show [value]="user"></app-user-show></h1>
<mat-dialog-content *ngIf="user" class="mat-dialog-content-edit">

    <form [formGroup]="userForm">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="email" id="userName" name="userName" formControlName="userName" placeholder="Username"
                [readonly]="true" />
            <mat-error>{{ error?.modelState?.userName | modelError }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" name="email" formControlName="email"
                placeholder="Email" [readonly]="user?.id" />            
            <mat-error>{{ error?.modelState?.email | modelError }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password" name="password" 
                formControlName="password" placeholder="Password" />
            <mat-error>{{ error?.modelState?.password | modelError }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" id="confirmPassword" name="confirmPassword"
                formControlName="confirmPassword" placeholder="Confirm password" />            
            <mat-error>{{ error?.modelState?.confirmPassword | modelError }}</mat-error>
        </mat-form-field>
        <div>
            <label>Roles</label>
            <div *ngFor="let role of roles; let i = index ">
                <mat-checkbox [name]="'roleIds' + i" [(ngModel)]="role.isSelected" [ngModelOptions]="{standalone: true}">{{ role.name }}</mat-checkbox>                    
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions class="mat-dialog-actions-edit">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
