mat-card {
    max-width: 1200px;
    margin: 0 auto;

    mat-card-header {
        margin: 0 -16px;
    }
    
    mat-card-actions {
        margin-left: 0;
        margin-right: 0;

        mat-form-field {
            margin: 0 8px;

            &:first-child {
                margin-left: 0;
            }
        }

        > .action-item {
            margin: 7px 0 7px 0;
        }
    }

    .mat-table {
        .mat-row {
            cursor: pointer;
        }

        .mat-column-action {
            text-align: right;
        }
    }
}
