<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <targets>
    <target xsi:type="File" name="logfile" fileName="c:\temp\Cynosura.Studio\worker.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}"
            archiveEvery="Day" archiveAboveSize="33554432" archiveNumbering="DateAndSequence" maxArchiveFiles="28"/>
    <target name="console" type="Console" layout="${longdate}|${logger}|${message}|${exception:format=tostring}"/>
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="Microsoft.*" minlevel="Trace" maxlevel="Info" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>