<ng-container *transloco="let t">
  <h1 mat-dialog-title>
    {{ t('Field') }} <app-field-show [value]="field"></app-field-show>
  </h1>
    <mat-dialog-content *ngIf="field" class="mat-dialog-content-edit">

        <form [formGroup]="fieldForm">
            <mat-form-field>
                <mat-label>{{ t('Name') }}</mat-label>
                <app-text-edit formControlName="name" name="name" [placeholder]="t('Name')"></app-text-edit>
                <mat-error>{{ error?.modelState?.name | modelError }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ t('Display Name') }}</mat-label>
                <app-text-edit formControlName="displayName" name="displayName" [placeholder]="t('Display Name')"></app-text-edit>
                <mat-error>{{ error?.modelState?.displayName | modelError }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select formControlName="type" id="type" pnaceholder="type">
                    <mat-option [value]="null">Select Type</mat-option>
                    <mat-option *ngFor="let item of FieldType | enumkeys" [value]="item.key">{{item.value}}</mat-option>
                </mat-select>
                <mat-error>{{ error?.modelState?.size | modelError }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ t('Size') }}</mat-label>
                <app-number-edit formControlName="size" name="size" [placeholder]="t('Size')"></app-number-edit>
                <mat-error>{{ error?.modelState?.size | modelError }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ t('Entity') }}</mat-label>
                <app-entity-select formControlName="entityId" [solutionId]="solutionId" name="entityId" [placeholder]="t('Entity')"></app-entity-select>
                <mat-error>{{ error?.modelState?.entityId | modelError }}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ t('Enum') }}</mat-label>
                <app-enum-select formControlName="enumId" [solutionId]="solutionId" name="enumId" [placeholder]="t('Enum')"></app-enum-select>
                <mat-error>{{ error?.modelState?.enumId | modelError }}</mat-error>
            </mat-form-field>
            <div>
                <app-bool-edit formControlName="isRequired" name="isRequired" [label]="t('Required')"></app-bool-edit>
            </div>
            <div>
                <app-bool-edit formControlName="isSystem" name="isSystem" [label]="t('System')"></app-bool-edit>
            </div>
            <div>
                <label for="properties">Properties</label>
                <div *ngIf="field">
                    <app-properties [target]="field.name" [properties]="field.properties"></app-properties>
                </div>
            </div>
        </form>

    </mat-dialog-content>
    <mat-dialog-actions class="mat-dialog-actions-edit">
        <button mat-raised-button mat-dialog-close>{{ t('shared.cancel') }}</button>
        <button mat-raised-button color="primary" (click)="onSave()" cdkFocusInitial>{{ t('shared.save') }}</button>
    </mat-dialog-actions>
</ng-container>
