<div class="container">
    
    <div *ngIf="error" class="alert alert-danger" role="alert">{{ error.error_description }}</div>

    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2 class="form-signin-heading">Log In</h2>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="text" formControlName="username" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Log In</button>
    </form>

</div> <!-- /container -->
