<div class="fields-container">
    <div class="centered-layout">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <div class="login-inner-wrap">
                <div class="form">
                    <div class="item">
                        <mat-form-field class="row">
                            <mat-label>E-mail</mat-label>
                            <input matInput type="email" placeholder="Email" formControlName="username" required
                                autofocus />
                        </mat-form-field>
                    </div>
                    <div class="item">
                        <mat-form-field class="row">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" placeholder="Password" formControlName="password"
                                required />
                        </mat-form-field>
                    </div>
                    <div class="actions">
                        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Log
                            In</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
