<h2>Solutions</h2>

<div class="form-inline">
    <div class="form-group">
        <label for="text">Text</label>
        <input id="text" type="text" class="form-control" placeholder="Text" [(ngModel)]="filter.text" />
    </div>

    <button class="btn btn-default" type="button" (click)="getSolutions()">Search</button>
    <button class="btn btn-default" type="reset" (click)="reset()">Reset</button>
</div>

<button type="button" class="btn btn-default" (click)="add()">Create</button>
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#openDialog">Open existing</button>

<app-error-handler [error]="error"></app-error-handler>

<table *ngIf="content" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Path</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let solution of content.pageItems">
            <td>
                <app-text-view [value]="solution.name"></app-text-view>
            </td>
            <td>
                <app-text-view [value]="solution.path"></app-text-view>
            </td>
            <td>
                <button class="btn btn-default" (click)="edit(solution.id)">Edit</button>
                <button class="btn btn-default" (click)="delete(solution.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<app-pager *ngIf="content"
       [currentPage]="content.currentPageIndex"
       [pageSize]="pageSize"
       [totalItems]="content.totalItems"
       (currentPageChange)="onPageSelected($event)">
</app-pager>

<div id="openDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Open existing solution</h4>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <input [(ngModel)]="openLocation" type="text" class="form-control" placeholder="Path">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"  data-dismiss="modal" (click)="open()">Open</button>
            </span>
          </div>
          <div style="clear: both"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>