<mat-card>

    <mat-card-header>
        <mat-card-title>Solution <app-solution-show [value]="solution"></app-solution-show></mat-card-title>
    </mat-card-header>

    <form [formGroup]="solutionForm" (ngSubmit)="onSubmit()">
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Save</button>
            <button mat-raised-button type="button" (click)="cancel()">Back</button>
            <button mat-raised-button type="button" (click)="generate()" *ngIf="id">Generate</button>
            <button mat-raised-button type="button" (click)="upgrade()" *ngIf="id">Upgrade</button>
        </mat-card-actions>
        <div>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <app-text-edit formControlName="name" name="name" label="Name"></app-text-edit>
                <mat-error>{{ error?.modelState?.name | modelError }}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Path</mat-label>
                <app-text-edit formControlName="path" name="path" label="Path"></app-text-edit>
                <mat-error>{{ error?.modelState?.path | modelError }}</mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="id">
            <mat-form-field>
                <mat-label>Template Name</mat-label>
                <app-text-edit formControlName="templateName" name="templateName" label="Template Name"></app-text-edit>
                <mat-error>{{ error?.modelState?.templateName | modelError }}</mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="id">
            <mat-form-field>
                <mat-label>Template Version</mat-label>
                <app-text-edit formControlName="templateVersion" name="templateVersion" label="Template Version"></app-text-edit>
                <mat-error>{{ error?.modelState?.templateVersion | modelError }}</mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="!id">
            <mat-form-field>
                <mat-label>Template Name</mat-label>
                <mat-select formControlName="templateName" [(ngModel)]="innerValue" [disabled]="readonly">
                    <mat-option>Select Template</mat-option>
                    <mat-option [value]="template.name" *ngFor="let template of templates">{{ template.name }}</mat-option>
                </mat-select>
                <mat-error>{{ error?.modelState?.templateVersion | modelError }}</mat-error>
            </mat-form-field>
        </div>
    </form>

</mat-card>