<h1 mat-dialog-title>Solution <app-solution-show [value]="solution"></app-solution-show></h1>
<mat-dialog-content *ngIf="solution" class="mat-dialog-content-edit">

    <form [formGroup]="solutionForm">
        <mat-form-field>
            <mat-label>Name</mat-label>        
            <app-text-edit formControlName="name" name="name" placeholder="Name"></app-text-edit>
            <mat-error>{{ error?.modelState?.name | modelError }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Path</mat-label>
            <app-text-edit formControlName="path" name="path" placeholder="Path"></app-text-edit>
            <mat-error>{{ error?.modelState?.path | modelError }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Template Name</mat-label>
            <mat-select formControlName="templateName">
                <mat-option>Select Template</mat-option>
                <mat-option [value]="template.name" *ngFor="let template of templates">{{ template.name }}</mat-option>
            </mat-select>
            <mat-error>{{ error?.modelState?.templateName | modelError }}</mat-error>
        </mat-form-field>
        <div *ngIf="id">
            <mat-form-field>
                <mat-label>Template Version</mat-label>
                <app-text-edit formControlName="templateVersion" name="templateVersion" placeholder="Template Version" [disabled]="true"></app-text-edit>
            </mat-form-field>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions class="mat-dialog-actions-edit">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()" cdkFocusInitial>Save</button>
</mat-dialog-actions>