<mat-card>

    <mat-card-header>
        <mat-card-title>Solutions</mat-card-title>
    </mat-card-header>

    <mat-card-actions>        
        <div class="action-item">
            <form (ngSubmit)="getSolutions()">
                <mat-form-field>
                    <mat-label>Text</mat-label>
                    <input matInput id="text" type="text" name="text" placeholder="Text" [(ngModel)]="state.filter.text" />
                </mat-form-field>
                <button mat-raised-button type="submit" color="primary">Search</button>
                <button mat-raised-button type="reset" (click)="reset()">Reset</button>
            </form>
        </div>
        <div class="action-item">
            <a mat-raised-button color="primary" [routerLink]="[0]">Create</a>
            <button mat-raised-button type="button" aria-label="Open existing"
                (click)="open()">Open existing</button>
        </div>
    </mat-card-actions>

    <mat-card-content class="mat-elevation-z8">

        <table *ngIf="content" mat-table [dataSource]="content.pageItems" multiTemplateDataRows appClickOutside (clickOutside)="expandedElement = null">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let item">
                    <app-text-view [value]="item.name"></app-text-view>
                </td>
            </ng-container>
            <ng-container matColumnDef="path">
                <th mat-header-cell *matHeaderCellDef>Path</th>
                <td mat-cell *matCellDef="let item">
                    <app-text-view [value]="item.path"></app-text-view>
                </td>
            </ng-container>

            <ng-container matColumnDef="templateName">
                <th mat-header-cell *matHeaderCellDef>Template Name</th>
                <td mat-cell *matCellDef="let item">
                    <app-text-view [value]="item.templateName"></app-text-view>
                </td>
            </ng-container>

            <ng-container matColumnDef="templateVersion">
                <th mat-header-cell *matHeaderCellDef>Template Version</th>
                <td mat-cell *matCellDef="let item">
                    <app-text-view [value]="item.templateVersion"></app-text-view>
                </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let item" [attr.colspan]="columns.length">
                    <app-table-detail [expanded]="item == expandedElement">
                        <a mat-raised-button [routerLink]="[item.id]" color="primary">Edit</a>
                        <button mat-raised-button (click)="delete(item.id)" color="warn">Delete</button>
                    </app-table-detail>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let item; columns: columns;" class="table-item"
                [class.table-item-expanded]="expandedElement === item" (click)="expandedElement = item">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="table-expand-item"></tr>

        </table>

        <div>
            <mat-paginator [pageSize]="state.pageSize" [pageIndex]="state.pageIndex" [pageSizeOptions]="pageSizeOptions" [length]="content?.totalItems" 
                (page)="onPage($event)" showFirstLastButtons></mat-paginator>
        </div>

    </mat-card-content>

</mat-card>
