/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

/* Add Angular Material themes*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);

$custom-typography: mat-typography-config(
    $font-family: 'IBM Plex Sans'
);

@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: mat-color($primary);
    text-decoration: none;
}

.mat-table {
    width: 100%;

    .mat-header-cell:not(:last-of-type), .mat-cell:not(:last-of-type) {
        padding-right: 8px;
    }

    .mat-cell {
        app-text-view {
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block; 
            overflow: hidden;
            max-width: 220px;
        }
    }

    .mat-row {
        outline: 0;
        
        &:hover, &:focus {
            background: #f5f5f5;
        }
    }
}

.owl-dt-container {
    font-size: 10pt;
}
